header{
	text-align: center;
}
h1 {
	font-size: 50px;
	text-align: center;
	padding:35px 25px 10px 25px;
}
h1.title {
	font-size:40px;
	text-align: center;
	padding:35px 25px 10px 25px;
}
h2.title {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Helvetica'
}
ul {
	padding:10px;
	background: black;
}
li {
	display: inline;
	margin: 10px;
	padding: 10px;
}
li.nav a:link, a:visited {
	color:white;
	padding: 10px;
	text-decoration: none;
}

.logo {
	padding: 10px;
	padding-bottom: 15px;
}
.container {
  margin:0 auto;
  padding:50px;
  width:50%;
}
.article-block {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d3d3d3;
    float: left;
}
.blurb {
    width: 48%;
    float: left;
    text-align: left;
}
p {
	font-family: 'Helvetica'
}
p.byline {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 5px;
}
blockquote {
	font-size: 25px;
	text-align: center;
}
link {
	font-weight: bold;
}
a:link, a:visited{
	color:black;
	padding: 10px;
	text-decoration: none;
}
/* mouse over link*/
a:hover {
	color:gray;

}
